@charset "utf-8";

*{
	padding: 0;
	margin: 0;
	background-color: #dee1ed;
}
.login{
	background-color: #3b5998;
	float: right;
	padding-right: 159px;
	margin-top: -85px;
	padding-top: 19px;
	color: #fff;
	font-size: 11.5px;
	font-family: tahoma;
}
.login a{
	color: #ccc;
	background-color: #3b5998;
	text-decoration: none;
}
.login img{
	
}
.meio{
	display: block;
	color: #0e385f;
	font-weight: bold;
	font-size: 20px;
	font-family: tahoma;
	margin-left: 180px;
	margin-top: 40px;
	float: left;
}
.lateral{
	display: block;
	float: right;
	padding-top: 20px;
	
}
.lateral h1{
	font-size: 32px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.lateral p{
	color: #444;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.foto2{
	padding-left:
}